@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
body
{
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
}
div{
	position: relative;
	z-index: 1;
}
h1
{
	margin: 0;
	padding: 0;
	font-size: 9em;
	color: #fff;
	filter: blur(2px);
}
ul
{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
ul li
{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	list-style: none;
	background: #000;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	filter: blur(4px);
}
ul li:nth-child(odd)
{
	animation: animateOdd 6s linear infinite;
}
@keyframes animateOdd
{
	0%
	{
		transform: translate(0,0)scale(1);	
		opacity: 1;
	}
	50%
	{
		opacity: 1;
	}
	100%
	{
		transform: translate(300px,-600px)scale(12);	
		opacity: 0;
	}
}
ul li:nth-child(even)
{
	animation: animateEven 6s linear infinite;
}
@keyframes animateEven
{
	0%
	{
		transform: translate(0,0)scale(1);	
		opacity: 1;
	}
	50%
	{
		opacity: 1;
	}
	100%
	{
		transform: translate(-300px,-600px)scale(12);	
		opacity: 0;
	}
}
ul li:nth-child(1)
{
	animation-delay: 0s;
	background: #ff0000;
}
ul li:nth-child(2)
{
	animation-delay: 1s;
	background: #0000FF;
}
ul li:nth-child(3)
{
	animation-delay: 2s;
	background: #FF00FF;
}
ul li:nth-child(4)
{
	animation-delay: 3s;
	background: #00FFFF;
}
ul li:nth-child(5)
{
	animation-delay: 4s;
	background: #00FF00;
}
ul li:nth-child(6)
{
	animation-delay: 5s;
	background: #FFFF00;
}